[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = https://github.com/Masellum/hugo-theme-nostyleplease.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/Masellum/hugo-theme-nostyleplease.git
