[submodule "themes/hugonews"]
	path = themes/hugonews
	url = https://github.com/spaghettiwews/hugonews.git
[submodule "themes/photophobia"]
	path = themes/photophobia
	url = https://github.com/setsevireon/photophobia.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/wandersoncferreira/smol.git
